<!-- header -->
<div class="block">
    <header class="header">
        <a href="index.html" class="header-logo">My Movie DB</a>
        <nav class="header-menu">
            <a href="search.html">Recherche</a>
            <a href="compte.html">Mon compte</a>
        </nav>
    </header>
</div>
<!-- header -->

<!-- banner -->
<div class="block">
    <div class="banner">
        <img class="banner-image" src="assets/img/bg.jpg" alt="Image de projecteur">
        <div class="banner-content">
            <h1 class="title is-1">Bienvenue sur My Movie DB</h1>
            <h2 class="subtitle">Retrouvez tous vos films préférés</h2>
        </div>
    </div>
</div>
<!-- banner -->
<div class="block">
    <h2 class="subtitle heading-site">Les nouveautés</h2>
    <div class="container">
        <div class="columns">
            <div class="column">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81cKWyOAq5L._AC_SL1500_.jpg"
                    alt="Tron legacy">
            </div>
            <div class="column">
                <img src="https://fr.web.img2.acsta.net/pictures/20/08/03/12/15/2118693.jpg" alt="Tennet">
            </div>
            <div class="column">
                <img src="https://fr.web.img5.acsta.net/pictures/19/04/03/14/15/2748213.jpg" alt="Détective Pikachu">
            </div>
            <div class="column">
                <img src="https://fr.web.img3.acsta.net/pictures/19/02/22/16/14/0019120.jpg"
                    alt="Dragon Ball Super Broly">
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81zAldy61AL._AC_SY679_.jpg"
                    alt="Alita - Battle Angel">
            </div>
            <div class="column">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71HyTegC0SL._AC_SL1200_.jpg"
                    alt="Avengers Endgame">
            </div>
            <div class="column">
                <img src="https://fr.web.img5.acsta.net/pictures/19/06/13/15/28/4575985.jpg"
                    alt="Spider-man Far from home">
            </div>
            <div class="column">
                <img src="https://fr.web.img6.acsta.net/pictures/20/03/03/12/19/2773827.jpg" alt="Tout simplement noir">
            </div>
        </div>
    </div>
</div>