<!-- header -->
<div class="block">
    <header class="header">
        <a routerLink="" class="header-logo">My Movie DB</a>
        <nav class="header-menu">
            <a routerLink="/recherche">Recherche</a>
            <a routerLink="/mon-compte">Mon compte</a>
        </nav>
    </header>
</div>
<!-- header -->

<!-- banner -->
<div class="block">
    <div class="banner">
        <img class="banner-image" src="assets/img/bg.jpg" alt="Image de projecteur">
        <div class="banner-content">
            <h1 class="title is-1">Bienvenue sur My Movie DB</h1>
            <h2 class="subtitle">Retrouvez tous vos films préférés</h2>
        </div>
    </div>
</div>
<!-- banner -->
<div class="block">
    <h2 class="subtitle heading-site">Les nouveautés</h2>
    <div class="container">
        <div *ngFor="let movies of trendingMoviesSplit; let i = index" class="columns">
            <div *ngFor="let movie of movies" class="column">
                <a [routerLink]="['/','film',movie.id_mdb]">
                    <img [src]="getMovieImageSrc(movie['poster_path'],'small')"  [alt]="movie.title">
                </a>
            </div>
        </div>
    </div>
</div>