.heading-site {
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
}

.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    z-index: 999;

    .header-logo {
        color: #fff;
        font-family: 'Montserrat', 'sans-serif';
        float: left;
        margin-left: 30px;
    }

    .header-menu {
        float: right;
        margin-right: 30px; 
        
        a {
            margin-right: 15px;
            color: #fff;
            &:hover {
                color: #3498db;
            }
        }
    }
}

.search-content {
    margin-top: 100px;
}